.topicsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 20rem;
  row-gap: 0.8rem;
}
.topicContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px black solid;
  padding-bottom: 0.1rem;
}
.topicLinksContainer {
  width: max-content;
  display: flex;
  column-gap: 2rem;
}
.topicPractice {
  display: flex;

  flex-direction: row;
}
